## **Import**

In [ ]:
from sqlalchemy import create_engine, MetaData, text
from sqlalchemy.schema import CreateTable
import pandas as pd
from dotenv import load_dotenv
import os

## **Input Parameters**

In [ ]:
# Cargar variables desde .env
load_dotenv()

# Obtener los valores
USER = os.getenv("DB_USER")
PASSWORD = os.getenv("DB_PASSWORD")
HOST = os.getenv("DB_HOST")
PORT = os.getenv("DB_PORT")
DATABASE = os.getenv("DB_NAME")

## **Functions**

In [ ]:
def dql_execution(query_text, engine):
    df = pd.read_sql(query_text, engine)
    print(df)

In [ ]:
def ddl_dml_execution(sql_string,engine):
    with engine.connect() as connection:
        connection.execute(text(sql_string))
        connection.commit()

## **Process**

In [ ]:
engine = create_engine(f"postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}")

In [ ]:
metadata = MetaData(schema="university")
metadata

In [ ]:
metadata.reflect(bind=engine)
metadata.sorted_tables

In [ ]:
ddl_statements = "\n\n".join(str(CreateTable(table).compile(engine)) for table in metadata.sorted_tables)
print(ddl_statements)

In [ ]:
for table in metadata.sorted_tables:
    create_table_string = str(CreateTable(table).compile(engine))
    print(create_table_string)

In [ ]:
dql_execution("SELECT 1",engine)

In [ ]:
ddl_dml_execution("CREATE SCHEMA university",engine)

In [ ]:
ddl_dml_execution("""CREATE TABLE university.courses (
    id SERIAL PRIMARY KEY,
    course_name VARCHAR(100) NOT NULL,
    duration VARCHAR(150) UNIQUE NOT NULL,
    semester INTEGER
);""",engine)

In [ ]:
ddl_dml_execution("DROP TABLE ")